* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  outline: none !important;
  font-family: pm;
}

@font-face {
  font-family: pm;
  src: url(./assets/fonts/Poppins-Medium.ttf);
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  border-bottom: 0.7px solid #c4c4c4;
}

#header h1 {
  font-size: 29px;
  color: #1090cb;
}

#header ul {
  display: flex;
  gap: 83px;
  position: relative;
}

#header ul a {
  color: #000;
}

#header ul .active {
  color: #1090cb;
}

#header ul a::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 4px;
  position: absolute;
  right: 355px;
  background-color: #08d3bb;
}

#header button {
  background-color: #1090cb;
  padding: 10px 26px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

#header button:hover {
  transition: all 2s;
  box-shadow: inset 300px 0px 0px 0px #00236e;
}

#header button a {
  color: #fff;
  font-weight: 400;
}

/* header end */

.header_section {
  background-color: rgba(16, 144, 203, 0.1);
  display: flex;
}

.header_section_left {
  width: 60%;
  padding: 128px 234px 165px 234px;
  position: relative;
}

.header_section_left img {
  position: absolute;
  bottom: -160px;
  left: 0;
}

.header_section_left h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  width: 612px;
  margin-bottom: 16px;
  line-height: 60px;
}

.header_section_left p {
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  color: #5c5c5c;
  width: 612px;
  margin-bottom: 64px;
}

.header_btn_group {
  display: flex;
  gap: 15px;
}

.header_btn_group button {
  background-color: #1090cb;
  padding: 10px 52px;
  border-radius: 10px;
  border: 1px solid #1090cb;
  color: #fff;
  cursor: pointer;
}

.header_btn_group button:hover {
  transition: all 2s;
  box-shadow: inset 300px 0px 0px 0px #fff;
  color: #1090cb;
}

.header_section_btn2 {
  background-color: #fff !important;
  padding: 10px 52px;
  border-radius: 10px;
  border: 1px solid #1090cb;
  color: #1090cb !important;
  cursor: pointer;
}

.header_section_right {
  width: 40%;
  position: relative;
}

.cactus_img {
  position: absolute;
  top: 200px;
  left: 100px;
}

.laptop_img {
  position: absolute;
  top: -40px;
}

.bigplant_img {
  position: absolute;
  bottom: 130px;
  right: 50px;
}

.cuboid_img {
  position: absolute;
  top: 120px;
  right: 100px;
}

.bluevector_img {
  position: absolute;
  right: 0;
  bottom: 0px;
}

/* cards section */

.cards_section {
  padding: 44px 122px;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  border-bottom: 0.7px solid #c7c7c7;
}

.cards_inner_div {
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px;
}

.cards_inner_div:hover {
  box-shadow: 2px 6px 20px 0px #5c5c5c;
  transition: all .5s;
}

.card1 img {
  background-color: #efeaff;
  border-radius: 20px;
  padding: 26px 22px;
}

.card2 img {
  background-color: #ecffda;
  border-radius: 20px;
  padding: 26px 22px;
}

.card3 img {
  background-color: #dae6ff;
  border-radius: 20px;
  padding: 26px 22px;
}

.card4 img {
  background-color: #ffe5da;
  border-radius: 20px;
  padding: 26px 22px;
}

.cards_inner_div p {
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
}

.cards_inner_div span {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #969696;
}

/* center section */

.center_section {
  padding: 115px 290px 15px 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center_section h4 {
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  color: #252525;
}

.center_section p {
  margin-top: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #868686;
  width: 690px;
}

/* first section */

.content_1 {
  display: flex;
  margin: 100px auto;
  height: 510px;
}

.content_1_left {
  width: 45%;
  padding-left: 124px;
}

.content_1_img {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-bottom: 42px;
}

.content_1_img img {
  background-color: #08d3bb;
  border-radius: 50%;
  padding: 16px;
}

.content_1_img_inner {
  flex-direction: column;
}

.content_1_img_inner h5 {
  font-weight: 500;
  font-size: 18px;
}

.content_1_img_inner p {
  font-size: 14px;
  color: #868686;
}

.content_1_left_title h6 {
  font-size: 30px;
  line-height: 52px;
  color: #1090cb;
  margin-bottom: 56px;
  width: 516px;
}

.content_1_left_title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #545454;
  width: 476px;
}

.content_1_right {
  width: 55%;
  position: relative;
}

.purple_ellipse_img {
  position: absolute;
  right: 0;
  top: 0;
  width: 35%;
}

/* second section */

.content_2 {
  display: flex;
  flex-direction: row-reverse;
  margin: 100px auto;
  height: 510px;
}

.content_2_right {
  width: 45%;
  padding-right: 124px;
}

.content_2_img {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-bottom: 42px;
}

.content_2_img img {
  background-color: #1090cb;
  border-radius: 50%;
  padding: 16px;
}

.content_2_img_inner {
  flex-direction: column;
}

.content_2_img_inner h5 {
  font-weight: 500;
  font-size: 18px;
}

.content_2_img_inner p {
  font-size: 14px;
  color: #868686;
}

.content_2_right_title h6 {
  font-size: 30px;
  line-height: 52px;
  color: #1090cb;
  margin-bottom: 56px;
  width: 516px;
}

.content_2_right_title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #545454;
  width: 476px;
}

.content_1_left {
  width: 55%;
  position: relative;
}

.yellow_ellipse_img {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

/* third section */

.content_3 {
  display: flex;
  margin: 100px auto;
  height: 510px;
}

.content_3_left {
  width: 45%;
  padding-left: 124px;
}

.content_3_img {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-bottom: 42px;
}

.content_3_img img {
  background-color: #9208d3;
  border-radius: 50%;
  padding: 16px;
}

.content_3_img_inner {
  flex-direction: column;
}

.content_3_img_inner h5 {
  font-weight: 500;
  font-size: 18px;
}

.content_3_img_inner p {
  font-size: 14px;
  color: #868686;
}

.content_3_left_title h6 {
  font-size: 30px;
  line-height: 52px;
  color: #1090cb;
  margin-bottom: 56px;
  width: 516px;
}

.content_3_left_title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #545454;
  width: 476px;
}

.content_3_right {
  width: 55%;
  position: relative;
}

.purple_ellipse2_img {
  position: absolute;
  right: 0;
  top: 0;
  width: 35%;
  z-index: -1;
}

.parallax_img {
  position: absolute;
  top: -80px;
  right: 200px;
}

/* fourth section */

.content_4 {
  display: flex;
  justify-content: center;
  gap: 50px;
  position: relative;
  margin-bottom: 180px;
}

.content_4 img {
  position: absolute;
  top: -75px;
  right: 200px;
}

.content_4_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 64px 48px 48px 48px;
  background: #f4f4f4;
  border-radius: 20px;
  gap: 36px;
}

.content_4_left p {
  font-weight: 600;
  font-size: 25px;
  line-height: 42px;
  color: #252525;
  width: 364px;
}

.content_4_left span {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #545454;
  width: 476px;
}

.content_4_left button {
  padding: 12px 34px;
  background-color: #1090cb;
  border: none;
  color: #fff;
  font-weight: 500;
  text-align: center;
  width: 152px;
  border-radius: 10px;
  cursor: pointer;
}

.content_4_left button:hover {
  transition: all 2s;
  box-shadow: inset 300px 0px 0px 0px #f4f4f4;
  color: #000;
  outline: 1px solid #000 !important;
  outline-offset: initial 4px !important;
}

.content_4_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 64px 48px 48px 48px;
  background: #1090cb;
  border-radius: 20px;
  gap: 36px;
}

.content_4_right p {
  font-weight: 600;
  font-size: 25px;
  line-height: 42px;
  color: #fff;
  width: 364px;
}

.content_4_right span {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  width: 476px;
}

.content_4_right button {
  padding: 12px 34px;
  background-color: #fff;
  border: none;
  color: #1090cb;
  font-weight: 500;
  text-align: center;
  width: 152px;
  border-radius: 10px;
  cursor: pointer;
}

.content_4_right button:hover {
  transition: all 2s;
  box-shadow: inset 300px 0px 0px 0px #1090cb;
  color: #fff;
  outline: 1px solid #fff !important;
  outline-offset: initial 4px !important;
}

/* content 5 */

.content_5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.yellow_ellipse_5 {
  position: absolute;
  left: -180px;
  top: -200px;
  z-index: -1;
}

.content_5 p {
  font-size: 24px;
}

.content_5 img {
  cursor: pointer;
}

/* footer start */

.footer-top {
  display: flex;
  flex-direction: column;
  background-color: #e8f4fa;
  align-items: center;
  justify-content: center;
  height: 534px;
  gap: 80px;
  position: relative;
  margin-top: 80px;
}

.footer-top img {
  position: absolute;
  top: -46px;
  left: 168px;
}

.footer-title {
  width: 32%;
  justify-content: center;
  text-align: center;
  position: relative;
}

.footer-title img {
  position: absolute;
  width: 74px;
  height: 74px;
  top: -80px;
  left: 580px;
}

.footer-title p {
  font-size: 30px;
  line-height: 170%;
  color: #252525;
  font-weight: 600;
}

.footer-input {
  width: 100%;
  text-align: center;
}

.footer-input input {
  padding: 20px 36px;
  border: none;
  box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  height: 67px;
  width: 50%;
  margin-right: 14px;
}

.footer-input button {
  background-color: #000;
  border: none;
  border-radius: 10px;
  color: #fff4f4;
  padding: 20px 44px;
  font-weight: 500;
}

.footer-bottom {
  height: 268px;
}

.items_content {
  display: flex;
  gap: 80px;
  padding: 87px 120px 100px 120px;
  border-bottom: 0.8px solid #d2d2d2;
}

.items_content div {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.items_content_child2 {
  width: 33%;
  gap: 6px !important;
}

.items_content_child2 p {
  margin-bottom: 20px;
}

.items_content_child2 li {
  color: #515151;
  font-weight: 400;
  cursor: pointer;
}

.items_content_child2 li:hover {
  color: #00329b;
}

.items_content .title_p {
  color: #000;
  font-size: 17px;
  font-weight: 500;
}

.items_content .title_p_active {
  color: #00329b;
  font-weight: 700;
}

.items_content .body_p {
  color: #515151;
  font-weight: 400;
  line-height: 24px;
}

.items_content .footer_p {
  color: #515151;
  font-weight: 400;
}

.links_content {
  flex-direction: row !important;
  align-items: end;
}

.links_content div {
  cursor: pointer;
  width: 34px;
  height: 34px;
  border-radius: 17px;
  padding: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
}

.footer_about {
  text-align: center;
  color: #686868;
  font-weight: 400;
  font-size: 14px;
  padding: 27px;
}
