* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  outline: none !important;
  font-family: pm;
}

@font-face {
  font-family: pm;
  src: url(./assets/fonts/Poppins-Medium.ttf);
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  border-bottom: 0.7px solid #c4c4c4;
}

#header h1 {
  font-size: 29px;
  color: #1090cb;
}

#header ul {
  display: flex;
  gap: 83px;
  position: relative;
}

#header ul a {
  color: #000;
}

#header ul .active {
  color: #1090cb;
}

#header ul a::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 4px;
  position: absolute;
  right: 355px;
  background-color: #08d3bb;
}

#header button {
  background-color: #1090cb;
  padding: 10px 26px;
  border-radius: 6px;
  color: #fff;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

/* header end */

.top_section_service {
  height: 740px;
  background: rgba(16, 144, 203, 0.1);
  text-align: center;
}

.top_section_service img {
  background-color: #fff;
  border-radius: 50%;
  padding: 30px;
  margin-top: 78px;
}

.top_section_service h2 {
  font-weight: 500;
  font-size: 40px;
  margin: 22px 0px;
}

.top_section_service h2::after {
  content: " Services";
  color: #1090cb;
}

.top_section_service p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #696969;
  width: 25%;
  margin: auto;
}

/* absolute section */

.absolute_service_container {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  margin: 0 auto;
  margin-top: -250px;
  padding: 70px 60px;
  background-color: #fff;
  border: 2px solid rgba(16, 144, 203, 0.1);
  position: relative;
}

.cactus_service_img {
  position: absolute;
  right: 90px;
  top: -45px;
  width: 7%;
}

.absolute_inner_service {
  display: flex;
  align-items: center;
  width: 45%;
  gap: 40px;
  padding: 10px;
  border-radius: 20px;
}

.absolute_inner_service:hover {
  box-shadow: 2px 6px 20px 0px #5c5c5c;
  transition: all 0.5s;
  cursor: pointer;
}

.absolute_inner_service img {
  border-radius: 20px;
  padding: 24px;
}

.codingicon_service {
  background: #f1e8ff;
}

.appicon_service {
  background: #fff2f2;
}

.rocketicon_service {
  background: #e2f3ff;
}

.cloudicon_service {
  background: #ffe7fb;
}

.absolute_inner_service p {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 25px;
  line-height: 44px;
  letter-spacing: 0.01em;
}

.absolute_inner_service span {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #797979;
}

/* section 2 */

.center_section_service {
  display: flex;
  margin-top: 110px;
}

.center_service_left {
  width: 50%;
  padding-left: 120px;
}

.center_service_left h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  color: #1090cb;
}

.center_service_left h3:after {
  content: " is simply dummy text of the printing.";
  color: #252525;
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
}

.center_service_left p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #545454;
  margin: 54px 0px;
}

.center_service_left button {
  background: #ffffff;
  border: 1px solid #1090cb;
  border-radius: 10px;
  color: #1090cb;
  padding: 10px 52px;
}

.center_service_left button:hover {
  transition: all 2s;
  box-shadow: inset 300px 0px 0px 0px #1090cb;
  color: #fff;
  cursor: pointer;
}

/* section 3 */

.data_container {
  background-color: #1090cb;
  padding: 160px 130px;
  margin: 150px 0px;
  position: relative;
}

.bell_service_data {
  position: absolute;
  right: 100px;
  top: -80px;
}

.cactus_service_data {
  position: absolute;
  left: 300px;
  bottom: -40px;
  width: 7%;
}

.rope1_service_data {
  position: absolute;
  top: -45px;
  left: -50px;
  width: 20%;
}

.rope2_service_data {
  position: absolute;
  right: 100px;
  top: -85px;
  width: 30%;
}

.data_inner {
  display: flex;
  justify-content: space-between;
}

.data_inner div {
  color: #fff;
  text-align: center;
  flex-direction: column;
}

.data_inner p {
  font-size: 65px;
}

.data_inner span {
  font-size: 16px;
}

/* section 4 */

.cards_container_service {
  display: flex;
  gap: 84px;
  padding: 0px 120px;
  margin-bottom: 150px;
}

.cards_service {
  flex-direction: column;
  text-align: center;
  width: calc(100% / 3);
}

.cards_service h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 0.01em;
  text-align: left;
  margin: 40px 0;
}

.cards_service h5 {
  font-weight: 600;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 0.01em;
  text-align: left;
  margin: 40px 0;
}

.cards_service h6 {
  font-weight: 600;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 0.01em;
  text-align: left;
  margin: 40px 0;
}

.cards_service p {
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #424242;
}

/* footer start */

.footer-top {
  display: flex;
  flex-direction: column;
  background-color: #e8f4fa;
  align-items: center;
  justify-content: center;
  height: 534px;
  gap: 80px;
  position: relative;
}

.footer-top img {
  position: absolute;
  top: -46px;
  left: 168px;
}

.footer-title {
  width: 32%;
  justify-content: center;
  text-align: center;
  position: relative;
}

.footer-title img {
  position: absolute;
  width: 74px;
  height: 74px;
  top: -80px;
  left: 580px;
}

.footer-title p {
  font-size: 30px;
  line-height: 170%;
  color: #252525;
  font-weight: 600;
}

.footer-input {
  width: 100%;
  text-align: center;
}

.footer-input input {
  padding: 20px 36px;
  border: none;
  box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  height: 67px;
  width: 50%;
  margin-right: 14px;
}

.footer-input button {
  background-color: #000;
  border: none;
  border-radius: 10px;
  color: #fff4f4;
  padding: 20px 44px;
  font-weight: 500;
}

.footer-bottom {
  height: 268px;
}

.items_content {
  display: flex;
  gap: 80px;
  padding: 87px 120px 100px 120px;
  border-bottom: 0.8px solid #d2d2d2;
}

.items_content div {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.items_content_child2 {
  width: 33%;
  gap: 6px !important;
}

.items_content_child2 p {
  margin-bottom: 20px;
}

.items_content_child2 li {
  color: #515151;
  font-weight: 400;
  cursor: pointer;
}

.items_content_child2 li:hover {
  color: #00329b;
}

.items_content .title_p {
  color: #000;
  font-size: 17px;
  font-weight: 500;
}

.items_content .title_p_active {
  color: #00329b;
  font-weight: 700;
}

.items_content .body_p {
  color: #515151;
  font-weight: 400;
  line-height: 24px;
}

.items_content .footer_p {
  color: #515151;
  font-weight: 400;
}

.links_content {
  flex-direction: row !important;
  align-items: end;
}

.links_content div {
  cursor: pointer;
  width: 34px;
  height: 34px;
  border-radius: 17px;
  padding: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
}

.footer_about {
  text-align: center;
  color: #686868;
  font-weight: 400;
  font-size: 14px;
  padding: 27px;
}
